<p id="notice"><%= notice %></p>
<div class='panel panel-primary'>
  
<div class='panel panel-heading'>Welcome</div>

<div class='panel-body'>


<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user_id %>
</p>
</div>

<div class='panel-footer'>
<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>

</div>
</div>